---
import { getEntry, render } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Breadcrumb from "@/components/Breadcrumb.astro";
import Main from "@/components/Main.astro";
import Footer from "@/components/Footer.astro";
import config from "@/config";

const projects = await getEntry("pages", "projects");

if (!projects) {
  throw new Error(
    "Missing content entry: `projects.md` or `projects.mdx` in `src/content/pages/`"
  );
}

const { Content } = await render(projects);
---

<Layout
  title={`${projects.data.title} | ${config.site.title}`}
  description={projects.data.description}
  ogImage={projects.data.ogImage}
  canonicalURL={projects.data.canonicalURL}
>
  <Header />

  <Breadcrumb />

  <Main pageTitle={projects.data.title} class="app-prose">
    <Content />
  </Main>

  <Footer />
</Layout>
